@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Space+Grotesk:wght@300;700&display=swap');

body {
  background-color: #050506;
  color: #C7CBD1;
  margin: 0;
  overflow: hidden;
  font-family: 'Space Grotesk', sans-serif;
}

.glass-base {
  background: rgba(13, 13, 18, 0.8);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(139, 17, 22, 0.2);
}